
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Detail</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div>
        <h1 id="detail-h1">Restaurant Details</h1>
        <div id="restaurant-details">
            
        </div>
        <div id="available-items">
            <h2>Available Items</h2>
        </div>
    </div>
    <div>
        <br><h1 id="detail-h1">Similar Restaurants</h1>
    </div>
    <script src="/scripts/restaurantDetail.js"></script> 
</body>
</html>