<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Restaurant</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div id="parent-random">
        <h1 id="random-h1">Random Restaurant</h1>
        <div id="random-restaurant">

        </div>
        <button class="random-button" onclick="RandomRestaurant()">Generate Random Restaurant</button>
    </div>
    <script src="/scripts/restaurantDetail.js"></script>
</body>
</html>